<h3>Choose a Venue to see more details</h3>

<% if current_admin %>
  <h5><%= link_to 'Add a New Visit', new_visit_path, :class => 'small button' %></h5>
<% end %>
<div class = "row">
  <div class = "large-12 columns">
    <table>
      <thead>
        <tr>
          <th width = "200"><%= link_to "Venue", :sort => "venue" %></th>
          <th width = "200"><%= link_to "Location", :sort => "city" %></th>
          <th width = "200" class = "show-for-medium-up"><%= link_to "Date", :sort => "date" %></th>
          <th width = "200" class = "show-for-medium-up"><%= link_to "Price", :sort => "price_cents" %></th>
          <th width = "200"><%= link_to "Total Score", :sort =>"total" %></th>
        </tr>
      </thead>
      <tbody>
        <% @visits.each do |visit| %>
          <tr data-link= "<%= visit_path(visit) %>" class="clickable">
            <td><%= visit.venue %></td>
            <td><%= visit.city %></td>
            <td class = "hide-for-small"><%= visit.formatted_date %></td>
            <td class = "hide-for-small"><%= visit.price_cents %> <%= visit.price_currency %> <% unless visit.price_currency == "AUD" %>
                <em>(<%= visit.aud_equivalent %>AUD)</em>
              <% end %>
            </td>
            <td><%= visit.total %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>