
<h3>Choose a Venue to see more details</h3>

<% if current_admin %>
  <h5><%= link_to 'Add a New Visit', new_visit_path, :class => 'small button' %></h5>
<% end %>

<div class = "row">
  <div class = "large-12 columns">
    <table>
      <thead>
        <tr>
          <th width = "200">Venue</th>
          <th width = "200">City</th>
          <th width = "200">Date</th>
          <th width = "200">Price</th>          
          <th width = "200">Total Score </br>
            <em>(out of 32)</em></th>           
        </tr>
      </thead>

      <tbody>
        <% @visits.each do |visit| %>
          <tr>
            <td><%= link_to visit.venue, visit %></td>
            <td><%= visit.city %></td>
            <td><%= visit.formatted_date %></td>


            <td><%= visit.price_cents %> <%= visit.price_currency %> <% unless visit.price_currency == "AUD" %>
              <em>(<%= visit.aud_equivalent %>AUD)</em>
              <% end %>
              
               </td>
     
            <td><%= visit.total_score %> </td>
   

          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  

 
</div>

