<p id="notice"><%= notice %></p>

<p>
  <strong>Venue:</strong>
  <%= @visit.venue %>
</p>

<p>
  <strong>City:</strong>
  <%= @visit.city %>
</p>

<p>
  <strong>Date:</strong>
  <%= @visit.date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @visit.price %>
</p>

<p>
  <strong>Ambience:</strong>
  <%= @visit.ambience %>
</p>

<p>
  <strong>Tea:</strong>
  <%= @visit.tea %>
</p>

<p>
  <strong>Scones:</strong>
  <%= @visit.scones %>
</p>

<p>
  <strong>Savoury:</strong>
  <%= @visit.savoury %>
</p>

<p>
  <strong>Sweets:</strong>
  <%= @visit.sweets %>
</p>

<p>
  <strong>Service:</strong>
  <%= @visit.service %>
</p>

<p>
  <strong>Bonus:</strong>
  <%= @visit.bonus %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @visit.comments %>
</p>



<%= link_to 'Edit', edit_visit_path(@visit) %> |
<%= link_to 'Back', visits_path %>
