<p id="notice"><%= notice %></p>

<p>
<H1>  <%= @visit.venue %></H1>
</p>
<div class = "row">
  <div class = "large-6 columns">
    <p>
  <strong>Location:</strong>
  <%= @visit.city %>
</p>

<p>
  <strong>Date:</strong>
  <%= @visit.formatted_date %>
</p>
  <strong>Price:</strong>
 <%= @visit.price_cents %> <%= @visit.price_currency %> 
</p>
</div>
<div class = "large-6 columns">
 <h3>Total Score</h3>
  <h2><%= @visit.total_score %> </h2> out of 32


</div>
<hr>
<h4>Score Breakdown</h4>
<h6>Scores out of 5</h6>

<div class = "row">
  <div class = "large-2 columns">
  <strong>Ambience:</strong>
  <%= @visit.ambience %>
</div>


  <div class = "large-2 columns">
  <strong>Tea:</strong>
  <%= @visit.tea %>
</div>

  <div class = "large-2 columns">
  <strong>Scones:</strong>
  <%= @visit.scones %>
</div>

  <div class = "large-2 columns">
  <strong>Savoury:</strong>
  <%= @visit.savoury %>
</div>

  <div class = "large-2 columns">
  <strong>Sweets:</strong>
  <%= @visit.sweets %>
</div>

  <div class = "large-2 columns">
  <strong>Service:</strong>
  <%= @visit.service %>
</div>
</div>
<br>
<div class = "row">
  <div class = "large-3 columns">
  <strong>Bonus (Out of 2):</strong>
  <%= @visit.bonus %>
</div>
</div>
<br>

<div class = "panel">
  <p><strong>Thoughts</strong></p>
  <%= @visit.comments %>
</div>



<% if current_admin %>
  <%= link_to 'Edit Listing', edit_visit_path(@visit), :class => 'small button' %> |
<% end %>

<%= link_to 'Back to home', visits_path %>
