<!DOCTYPE html>
  <head>
  	<meta charset="utf-8" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/foundation.css" />
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
  	<title><%= content_for?(:title) ? yield(:title) : "High Tea's Around The World" %></title>
  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body >
    <div class = "row">
      <nav class="top-bar">
        <ul class="title-area">
          <li class="name">
            <h1 class = "hide-for-small"><a href="/">High Teas Around The World</a></h1>
            <h1 class = "show-for-small"><a href="/">High Teas </a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Top 5', top_five_path %></li>
            <li class="divider"></li>
            <% if current_admin %>
              <li><%= link_to 'Settings', edit_admin_registration_path(current_admin) %></li>
              <li><%= link_to 'Sign out', destroy_admin_session_path, :method => 'delete'%></li>
            <% else %>
              <li><%= link_to 'Sign in', new_admin_session_path %></li>
            <% end %>
          </ul>
        </section>
      </nav>  
    </div>   
    <div class = "row">
      <% if notice || alert %>
        <span class="alert alert-info" id="notice"><%= notice %></span>
        <span class="alert alert-info" id=""><%= alert %></span>
      <% end %>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= yield %>
      </div>
    </div>
    <footer class="row">
      <div class="large-12 columns">
        <hr />
        <div class="row">
          <div class="large-6 columns">
            <p>&copy; Tracy Mu - Cake Eater</p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="https://twitter.com/TracyMuSung", target='_blank'>Contact</a></li>
            </ul>
          </div>
        </div>
      </div> 
    </footer>
    <%= javascript_include_tag "application" %>
  </body>
</html>
